@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4rem; /* Adjust the value based on the height of your Navbar */

}

@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 10px rgba(244, 63, 94, 0.5), 0 0 20px rgba(244, 63, 94, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(244, 63, 94, 0.8), 0 0 40px rgba(244, 63, 94, 0.6);
  }
}

.album-streak-glow {
  animation: glowPulse 2.5s ease-in-out infinite;
  border: 2px solid rgba(244, 63, 94, 0.5); /* Optional: faint border */
  background-color: rgba(244, 63, 94, 0.05); /* Optional: very soft background */
}
